.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table{
  width: 30%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 13%;
}
.email{
  background: #04e7c5;
  color: bisque;
}
.weather{
  text-align: center;
  color: #61dafb ;
}
.hfc{
  text-align: center;
}
.dfc{
  margin-top: 7%;
  text-align: center;
}

.bcd{
  margin-left: 45%;
}
.abc{
  margin-left: 45%;
}
body{
  background-color: bisque;
  background-attachment: fixed;
  background-image: url('../public/images/BDN.jpg'); 
  background-size: cover;
}
/* div{
  margin-left: 18%;
  margin-top: 5%;
} */

.slider{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border-color: black;
}
.footer{
  text-align: center;
  margin-top: 2%;
}
.col{
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}
.visually-hidden{
  color: black;
}
.table table-hover{
  justify-content: center;
  align-items: center;
}
h2{
  margin-left: 42%;
  margin-bottom: 1%;
}
.h1search{
  margin-top: 1%;
  margin-left: 37%;
}
.tablesearch{
  margin-left: 37%;
  margin-top: 7%;
  margin-bottom: 3%;
}
/* .table{
  margin-bottom: 17%;
} */

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px); 
  background-size: cover;
  background-position: center;
  border: 2px solid transparent; 
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  top: 0px;
}

.payment-container button {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #007bff; 
  color: #fff; 
  border: 2px solid #007bff; 
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.payment-container button:hover {
  background-color: #0056b3; 
  border-color: #0056b3; 
}

.payment-container h1 {
  margin-top: 5%; 
}
